# Environment Variables / API Credentials
SUPABASE_URL=https://ftasqoewtueewpspebux.supabase.co/
SUPABASE_REST_URL=https://ftasqoewtueewpspebux.supabase.co/rest/v1/
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0YXNxb2V3dHVlZXdwc3BlYnV4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc4NDc3NTYsImV4cCI6MjEwMzQyMzc1Nn0.BlXjz5b65TdMCeaQ5-zXZVUiudjzrnCQlgqjdsgatRY
SUPABASE_PUBLISHABLE_KEY=sb_publishable_QNVwidbA1axJiN_J2reuZg_M7ULq61Z
VITE_SUPABASE_URL=https://ftasqoewtueewpspebux.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0YXNxb2V3dHVlZXdwc3BlYnV4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc4NDc3NTYsImV4cCI6MjEwMzQyMzc1Nn0.BlXjz5b65TdMCeaQ5-zXZVUiudjzrnCQlgqjdsgatRY
GEMINI_API_KEY=
